apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "sample"
  namespace: "default"
  labels:
    app: "express"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "express"
  template:
    metadata:
      labels:
        app: "express"
    spec:
      containers:
      - name: "express-app-sha256-1"
        image: "us-east1-docker.pkg.dev/bold-catfish-402405/jenkins-repo/express-app:tagversion"
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
